*{
    box-sizing: border-box;
}

:root{
    --firt-color: #e91e63;
    --sec-color: #f8f8f8;
    --third-color: #222;
    --main-width: 4px;

}

body{
    font-family: tahoma,Arial, Helvetica, sans-serif;
}

.container{
    margin: 20px auto;
    width: 100%;
}

.game-name{
    font-size: 20px;
    font-weight: bold;
    color: var(--third-color);
    text-transform: uppercase;
}
.game-name span{
    color:#009688;
}
.category{
    font-size: 15px;
        font-weight: bold;
        color: var(--third-color);
        text-transform: uppercase;
}
.row{
    display: flex;
}

hr{
    border: 1px solid #eee;
}

.game-info{
    display: flex;
}

.game-info .game-name{
    flex: 1;
}

.game-info .category{
    flex: 1;
    text-align: right;
}

.game-info .category span{
    text-transform: capitalize;
    color: #009688;
    font-weight: bold;
}

.hangman-draw{
    flex: 1;
    background-color: var(--sec-color);
    padding: 20px;
    height: 324px;
    
}

.hangman-draw {
    flex: 1;
    background-color: #F8F8F8;
    padding: 20px;
    height: 324px;
}

.hangman-draw .the-draw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    left: -60px;
    opacity: 0;
    transition: .3s;
}

.hangman-draw .the-stand {
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    opacity: 0;
    transition: .3s;
}

.hangman-draw .the-hang {
    opacity: 0;
}

.hangman-draw .the-hang:before {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100px;
    left: 30px;
    top: 15px;
}

.hangman-draw .the-hang:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #222;
    left: 130px;
    top: 15px;
}

.hangman-draw .the-rope {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 95px;
    top: 45px;
    border: 4px dashed #222;
    opacity: 0;
    transition: .3s;
}

.hangman-draw .the-man .head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    position: absolute;
    left: 105px;
    top: 55px;
    opacity: 0;
    transition: .3s;
}

.hangman-draw .the-man .body {
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 110px;
    top: 102px;
    left: 130px;
    opacity: 0;
    transition: .3s;
}

.hangman-draw .the-man .hands {
    opacity: 0;
    transition: .3s;
}

.hangman-draw .the-man .hands:before {
    left: 85px;
    transform: rotate(30deg);
}

.hangman-draw .the-man .hands:after {
    left: 130px;
    transform: rotate(-30deg);
}

.hangman-draw .the-man .hands:before,
.hangman-draw .the-man .hands:after {
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 140px;
}

.hangman-draw .the-man .legs {
    opacity: 0;
    transition: .3s;
}

.hangman-draw .the-man .legs:before {
    left: 85px;
    transform: rotate(-30deg);
}

.hangman-draw .the-man .legs:after {
    left: 130px;
    transform: rotate(30deg);
}

.hangman-draw .the-man .legs:before,
.hangman-draw .the-man .legs:after {
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 220px;
}

.hangman-draw.wrong-1 .the-draw {
    opacity: 1;
}

.hangman-draw.wrong-2 .the-stand {
    opacity: 1;
}

.hangman-draw.wrong-3 .the-hang {
    opacity: 1;
}

.hangman-draw.wrong-4 .the-rope {
    opacity: 1;
}

.hangman-draw.wrong-5 .head {
    opacity: 1;
}

.hangman-draw.wrong-6 .body {
    opacity: 1;
}

.hangman-draw.wrong-7 .hands {
    opacity: 1;
}

.hangman-draw.wrong-8 .legs {
    opacity: 1;
}

.letters {
    flex: 1;
    padding: 15px;
    text-align: center;
    margin: auto;
    width: 75%;
}

.letters.finished{
    pointer-events: none;
}
.letters .letter-box{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #009688;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer ;
    
}

.letters .letter-box.clicked{
    opacity: .2;
    pointer-events: none;
    background-color: #222;
}
.letters-guess{
    margin: 10px auto;
    background-color: var(--sec-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
}

.letters-guess span{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    border-bottom: 3px solid var(--third-color);
    transition: .3s;
}

.letters-guess span.with-space{
    background: none;
    border-bottom: none;
    position: relative;
}

.letters-guess span.with-space:before{
    content: "";
    width: 20px;
    height: 4px;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup, .greatjob {
        position: fixed;
        top: 50%;
        display: flex;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 565px;
        height: 200px;
        color: #fff;
        font-size: 41px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 4px solid #fff;
        
    }
.popup{
        background-color: #E91E63;
        outline: 4px solid #E91E63;
    }
.greatjob{
        background-color: #009688;
        outline: 4px solid #009688;
    }

@media (max-width: 767px) {
    .letters{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-content: center;
        align-items: center;
        margin: auto;
        align-items: center;

    }
    /* body{
        overflow-y: hidden;
    } */
        .popup,
        .greatjob{
            width: 320px;
            height: 140px;
            font-size: 30px;
    }

        .letters .letter-box {
            width: 45px;
            height: 45px;
            display: inline-block;
            background-color: #009688;
            color: #fff;
            font-size: 24px;
            margin-right: 10px;
            margin-bottom: 10px;
            line-height: 55px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}

.btnRes{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: 4px solid #009688;
    border-radius: 5px;
    width: 187px;
    height: 70px;
    font-size: 25px;
    color: #fff;
    background: #009688;
    cursor: pointer;
    display: none;
    /* transition: .3s; */
}

#countdown{
    z-index: 1000;
    display: flex;
    font-size: 100px;
    color: #009688;
    /* background-color: #fff; */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}